/* Estilos generales */
body {

    background-color:antiquewhite;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #f15a22;
    color: #fff;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header nav ul li a {
    text-decoration: none;
    color: #fff;
}


img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}